/* UNIVERSAL STYLES */

body {
  padding-top: 40px;
}

h1 {
  font-family: "Avenir";
  font-size: 28px;
  text-align: center;
}


h3 {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

h4 {
  font-family: Avenir-Heavy;
  font-size: 10px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.paragraph {
  color: #898989;
}

/* NAVBAR COMPONENT */

.navbar {
  font-family: Avenir-Heavy;
}

/* COLLECTION COMPONENT */

.app {
  text-align: center;
}

.collection {
  width: 75%;
  max-width: 1100px;
  display: inline-block;
}

.tutor-results {
  color: #898989;
  font-family: Avenir;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}


/* TUTOR CARD COMPONENT */
.tutor-card {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.10);
  margin: 20px;
  transition: all .1s ease-in-out;
  font-family: Avenir-Book;
  font-size: 14px;
  text-align: center;
  padding: 24px;
  background-color: white;
}

/* .tutor-card:hover {
  transform: scale(0.98);
} */

.tutor-profpic {
  height: 80px;
  width: 80px;
  border: 3px solid #ECECEC;
  border-radius: 40px;
  text-align: center;
}

.tutor-name {
  margin-top: 10px;
  font-family: Avenir-Heavy;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.tutor-availabilities {
  font-family: Avenir-Heavy;
  font-size: 10px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}

.tutor-rating {
  font-family: Avenir-Heavy;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
}

.tutor-classes {
  font-family: Avenir-Heavy;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;

}

.tutor-availability {
  font-family: Avenir-Heavy;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;

}

.tutor-reportCard {
  font-family: Avenir-Heavy;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;

}

.tutor-schoolYearAndRate {
  font-family: Avenir-Heavy;
  font-size: 14px;
  color: #0d47a1;
  letter-spacing: 2px;
  text-align: left;
}

.tutor-appointment {
  display: inline-block;
  overflow: hidden;
  height: 480px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.10);
  margin: 20px;
  transition: all .1s ease-in-out;
  font-family: Avenir-Book;
  font-size: 14px;
  text-align: left;
  padding: 24px;
  background-color: white;
}

.tutor-appointment-main {
  font-family: Avenir-Heavy;
  font-size: 20px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
}

.tutor-description {
  font-family: Avenir;
  font-size: 14px;
  color: #757575;
  letter-spacing: 2px;
  text-align: left;

}

/* APPOINTMENT CARD COMPONENT */

.appointment-card-container {
  text-align: center;
}

.appointment-card-card {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.10);
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Avenir-Book;
  font-size: 14px;
  padding: 24px;
  background-color: white;
}

.appointment-card-profpic {
  height: 80px;
  width: 80px;
  border: 3px solid #ECECEC;
  border-radius: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 30px;
  margin-top: -24px;
}

.appointment-card-text {
  display: inline-block;
}

.appointment-card-name {
  margin-top: 10px;
  font-family: Avenir-Heavy;
  font-size: 20px;
  text-align: left;
}

.appointment-card-details {
  margin-top: 10px;
  font-family: Avenir-Medium;
  font-size: 14px;
  text-align: left;
  color: #9B9B9B;
}

.appointment-card-left {
  display: inline-block;
  float: left;
}

.appointment-card-right {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.appointments-container {
  text-align: center;
  align-items: center;
}

.upcoming-appointments {
  display: inline-block;
  width: 60%;
  max-width: 1000px;
  text-align: left;
}

.upcoming-appointments-text {
  font-family: "Avenir-Heavy";
  font-size: 24px;
  padding-top: 24px;
}

.past-appointments {
  display: inline-block;
  width: 60%;
  max-width: 1000px;
  text-align: left;
  font-family: "Avenir-Heavy";
  font-size: 24px;
  padding-bottom: 20px;
}

.past-appointments-text {
  font-family: "Avenir-Heavy";
  font-size: 24px;
  padding-top: 24px;
}

.tutor-schoolYearAndRate {
  font-size: 13px;
}

.availability-input {
  width: 250px;
}

.description-input {
  width: 250px;
}

.tutor-profpicture {
  display: block;
  border: 3px solid #ECECEC;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  /* margin-left: 145px; */
  margin-top: 32px;
}

.tutor-named {
  font-family: "Avenir-Black";
  font-size: 24px;
  text-align: left;
}



.tutor {
  text-align: center;
}

.tutor-TutorProfile {
  display: inline-block;
  /* float: left; */
  /* margin-left: 228px; */
}
.tutor-appointment {
  /* float: left; */
  /* margin-right: 120px; */
  margin-left: 40px;
  display: inline-block;
}

.tutor-info {
  max-width: 26em;
  /* margin-left: 280px; */
  margin-top: -120px;
  margin-right: 40px;
  margin-left: 132px;
  display: flex;
  text-wrap: wrap;
  text-align: center;
  flex-direction: column;
}

.tutor-description {
  letter-spacing: 0px;
  font-size: 14px;
}

.tutor-stats {
  margin-top: 40px;
  margin-right: 24px;
}

.rating-details {
  color: #757575;
  font-family: Avenir;
  letter-spacing: 0px;
  font-size: 14px;
}

.class-details {
  color: #757575;
  font-family: Avenir;
  letter-spacing: 0px;
  font-size: 14px;
}

.availability-details {
  color: #757575;
  font-family: Avenir;
  letter-spacing: 0px;
  font-size: 14px;
}

.RCdetails {
  color: #757575;
  font-family: Avenir;
  letter-spacing: 0px;
  font-size: 14px;
  max-width: 32em;
  padding-bottom: 60px;
}

.tutor-appointment-main {
  font-family: Avenir-Black;
  letter-spacing: 0px;
  font-size: 24px;
  padding-top: 12px;
}

.schedule-input {
  font-family: Avenir-Heavy;
  letter-spacing: 0px;
  font-size: 12px;
  margin-bottom: 8px;
}

.text-input-box {
  height: 36px;
  width: 250px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  font-family: Avenir-Heavy;
  font-size: 12px;
  letter-spacing: 0;
  padding-left: 12px;
}

::placeholder {
  color: #C9C9C9;
  font-family: Avenir-Book;
  font-size: 14px;
}

.navbar-appointments {
  padding-right: 16px;
}
